@use "helpers" as *;

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	@include visually-hidden;
}

.page {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	padding-top: calc(var(--header-height) * 1.5);
	padding-bottom: var(--header-height);
	padding-right: 16px;
}

.section {
	padding-top: var(--section-padding);
	display: flex;
	flex-direction: column;
	row-gap: rem(30);
	width: 100%;
	&__header {
		display: flex;
		align-items: center;
		column-gap: var(--padding-20);
	}
	&__header-icons {
		display: flex;
		color: var(--font-color-soft);
		column-gap: rem(5);
	}
}

.text-button {
	width: max-content;
	height: max-content;
	color: var(--font-color-soft);
	background-color: transparent;
	border: none;
	padding-block: 0px;
	transition:
		color 0.2s,
		opacity 0.2s;
	border-radius: var(--border-radius-s);
	@include hover {
		color: var(--font-color-hard);
	}
	&:focus-visible {
		@include focus-outline;
	}
	&:disabled {
		@include disabled;
	}
}

