@use '@/app/styles/helpers' as *;

.actor-panel {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    @include mobile {
        padding-left: calc(var(--button-height-m) + rem(10));
    }
    @include max-width(580) {
        flex-direction: column;
        row-gap: rem(10);
    }
}

.create-button {
    flex-shrink: 0;
    margin-left: rem(-1);
    @include max-width(580) {
        margin-left: auto;
    }
}

.search-field {
    z-index: 1;
}