@use '@/app/styles/helpers' as *;

.thumb {
	--thumbHeight: ;
	--color: ;
	--boxShadow: 0 0 0 var(--border-weight-soft) var(--color);
	position: absolute;
	height: var(--thumbHeight);
	width: var(--thumbHeight);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color);
	box-shadow: 0 0 var(--border-weight-soft) var(--border-color-grey);
	border-radius: 50%;
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		border-radius: inherit;
		height: 200%;
		width: 200%;
		transition-duration: 0.2s;
		opacity: 0.1;
	}
	@include user-select-off;
	@include hover {
		&:before {
			background-color: var(--fillColor);
		}
		.tooltip {
			opacity: 1;
			transform: scale(1);
		}
	}
	&:focus {
		z-index: 2;
		&:before {
			background-color: var(--fillColor);
		}
		.tooltip {
			opacity: 1;
			transform: scale(1);
		}
		&.dragging {
			&:before {
				width: 230%;
				height: 230%;
			}
		}
	}
	input {
		visibility: hidden;
	}
}

// Color
.thumb {
	&.primary {
		--color: var(--theme-color-primary-main);
	}

	&.light {
		--color: var(--color-light);
	}
}

// Orientation
.thumb {
	&.horizontal {
		top: 50%;
		translate: -50% -50%;
	}
	&.vertical {
		left: 50%;
		translate: -50% 50%;
	}
}

// Sizes
.thumb {
	&.xs {
		--thumbHeight: calc(var(--button-height-xxs) / 2);
	}
	&.s {
		--thumbHeight: calc(var(--button-height-xs) / 2);
	}
	&.m {
		--thumbHeight: calc(var(--button-height-s) / 2);
	}
}
