@use "@/app/styles/helpers" as *;

.link {
	--activeColor: var(--theme-color-primary-main);
	--hoverBgColor: var(--color-grey-opacity-soft);
	--activeBgColor: var(--color-grey-opacity-medium);
	position: relative;
	height: var(--button-height-m);
	padding-inline: var(--button-padding-inline-m);
	gap: rem(6);
	border-radius: var(--border-radius-m);
	display: flex;
	align-items: center;
	transition:
		background-color 0.2s,
		color 0.2s;

	&:focus-visible {
		@include focus-outline;
	}
	&.active {
		--hoverBgColor: var(--color-grey-opacity-hard);
		background-color: var(--activeBgColor);
		color: var(--activeColor);
	}
	@include hover {
		background-color: var(--hoverBgColor);
	}
	@include mobile {
		padding-inline: var(--button-padding-inline-s);
	}
}
