@use '@/app/styles/helpers' as *;

.review-list {
    display: flex;
    flex-direction: column;
    row-gap: var(--padding-30);
    padding-block: var(--padding-30);
    border-top: var(--border-weight-soft) solid var(--border-color-grey);
}

.review-card {
    border-bottom: var(--border-weight-soft) solid var(--border-color-grey);
}