@use '@/app/styles/helpers' as *;

.review-list-container {
    padding-top: var(--padding-30);
    border-top: var(--border-weight-soft) solid var(--border-color-grey);
}

.review-card {
    border-bottom: var(--border-weight-soft) solid var(--border-color-grey);
}