@use '@/app/styles/helpers' as *;

.dialog {
    --padding: var(--padding-20);
    max-width: calc(var(--button-height-s) * 6 + rem(10) * 5 + var(--padding) * 2);
    width: 100%;
    @include max-width(420) {
        --padding: #{rem(15)};
        .content {
            row-gap: rem(10);
        }
    }
}

.content {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--padding);
}

.send-code-section {
    align-self: start;
}
