@use '@/app/styles/helpers' as *;

.movie-catalog {
    display: flex;
    flex-direction: column;
}

.list {
    padding-top: rem(40);
}

.media-type-buttons {
    margin-top: var(--padding-20);
    column-gap: rem(10);
    button {
        max-width: rem(200);
        width: 100%;
    }
}