@use '@/app/styles/helpers' as *;

.reviews {
    display: flex;
    flex-direction: column;
    &__rate-movie {
        display: flex;
        align-items: center;
        column-gap: rem(5);
        font-size: rem(20);
    }
}