@use '@/app/styles/helpers' as *;

.skeleton {
    display: flex;
    column-gap: rem(10);
    height: var(--button-height-m);
}

.button,
.field {
    height: 100%;
}

.button {
    width: rem(175);
    @include max-width(768) {
        width: var(--button-height-m);
    }
}

.field {
    width: 100%;
}