@use '@/app/styles/helpers' as *;

.skeleton {
    --height: ;
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
    &.s {
        --height: var(--button-height-s);
    }
    &.m {
        --height: var(--button-height-m);
    }
    &.l {
        --height: var(--button-height-l);
    }
}

.field {
    width: 100%;
    height: var(--height);
}

.label {
    width: rem(75);
    height: rem(20);
}