@use '@/app/styles/helpers' as *;

.checkbox {
	--height: ;
	--color: ;
	--bgColor: ;
	--iconColor: var(--border-color-grey);
	--checkedIconColor: var(--theme-color-dark);
	--fzIcon: calc(var(--height) / 2);
	--offset: calc(var(--height) / 4 * -1);
	position: relative;
	height: var(--height);
	width: var(--height);
	border-radius: 50%;
	color: var(--color);
	transition: box-shadow 0.2s;
	@include hover {
		box-shadow: 0 0 0 var(--border-weight-soft) var(--border-color-grey);
	}
}

.input {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	padding: 0px;
	margin: 0px;
	opacity: 0;
	cursor: pointer;
	&:focus-visible + .body {
		box-shadow: 0 0 0 var(--border-weight-soft) var(--color);
	}
	&:checked + .body > .blank {
		background-color: var(--color);
		border-color: var(--color);
	}
	&:checked + .body {
		.checked-icon {
			opacity: 1;
		}
	}
}

.body {
	--borderColor: var(--border-color-grey);
	display: block;
	height: 100%;
	width: 100%;
	border-radius: inherit;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blank {
	display: block;
	background-color: var(--bgColor);
	border: var(--border-weight-soft) solid var(--borderColor);
	border-radius: var(--border-radius-s);
	height: 50%;
	width: 50%;
	transition: background-color 0.2s, border-color 0.2s;
}

.icon {
	display: inline-flex;
	color: var(--iconColor);
	font-size: var(--fzIcon);
}

.checked-icon {
	position: absolute;
	display: inline-flex;
	transition: opacity 0.2s;
	color: var(--checkedIconColor);
	opacity: 0;
	font-size: var(--fzIcon);
}

// Colors
.checkbox {
	&.primary {
		--color: var(--theme-color-primary-main);
	}
	&.red {
		--color: var(--color-red-500);
	}
}

// Variants
.checkbox {
	&.filled {
		--bgColor: var(--theme-color-grey-dark);
	}
	&.outlined {
		--bgColor: transparent;
	}
}

// Sizes
.checkbox {
	&.s {
		--height: var(--button-height-xs);
	}
	&.m {
		--height: var(--button-height-s);
	}
}

// Offset
.checkbox {
	&.left {
		margin-left: var(--offset);
	}
	&.right {
		margin-right: var(--offset);
	}
	&.top {
		margin-top: var(--offset);
	}
	&.bottom {
		margin-bottom: var(--offset);
	}
	&.all {
		margin: var(--offset);
	}
}

// Mods
.checkbox {
	&.disabled {
		@include disabled;
	}
	&.with-custom-icon {
		--checkedIconColor: var(--color);
	}
}
