@use '@/app/styles/helpers' as *;

.reaction {
    @include user-select-off;
    animation: appearance 1s;
}

@keyframes appearance {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}