@use '@/app/styles/helpers' as *;

.genre-list {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: var(--padding-30);
}

.create-genre-field {
    @include mobile {
        padding-left: calc(var(--button-height-m) + rem(10));
    }
}

.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: var(--padding-20);
    @include max-width(1000) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
        grid-template-columns: 1fr;
    }
}

