@use '@/app/styles/helpers' as *;

.filter-group {
    display: flex;
    flex-direction: column;
    row-gap: var(--padding-20);
    &__row {
        display: flex;
        column-gap: var(--padding-20);
    }
    @include mobile {
        row-gap: var(--padding-20);
        &__row {
            display: contents;
        }
    }
}

.toggle-button-group {
    margin-top: var(--padding-20);
    button {
        width: 100%;
    }
    @include mobile {
        flex-direction: column;
        row-gap: rem(10);
    }
}

.reset-button {
    margin-top: var(--padding-20);
    width: max-content;
    align-self: center;
}