@use '@/app/styles/helpers' as *;

.modal {
    padding: var(--padding-20);
    display: flex;
    flex-direction: column;
    max-width: rem(500);
    width: 100%;
}

.actions {
    margin-top: rem(10);
    display: flex;
    margin-left: auto;
    column-gap: rem(10);
}