@use '@/app/styles/helpers' as *;

.form {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    @include max-width(730) {
        .fields {  
            grid-template-columns: 1fr;
        }
        .textarea {
            grid-column: 1;
        }
    }
}

.fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(30);
    column-gap: rem(10);
}

.number-fields {
    display: flex;
    column-gap: rem(10);
    @include max-width(450) {
        display: contents;
    }
}

.textarea {
    grid-column: span 2;
}

.actions {
    display: flex;
    column-gap: rem(10);
    align-self: end;
    &__btn {
        height: var(--button-height-s);
        width: rem(100);
    }
}