@use '@/app/styles/helpers' as *;

.actor-card {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border-color 0.2s;
    &__description {
        margin-top: rem(-25);
        background-color: var(--theme-color-dark);
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-block: rem(5);
        z-index: 1;
        border-radius: var(--border-radius-m);
    }
    &__badge {
        width: 100%;
    }
    &__photo {
        width: 100%;
        aspect-ratio: 1;
        font-size: calc(rem(150) / 1.75);
    }
    &__actions {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        display: flex;
        transition: opacity 0.2s;
        background-color: var(--color-dark-opacity-hard);
        border-radius: var(--border-radius-s);
    }
}

.skeleton {
    &__description {
        row-gap: rem(10);
        height: rem(58);
    }
    &__text {
        height: var(--font-size-s); 
    }
}