@use '@/app/styles/helpers' as *;

.form {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
    width: 100%;
}

.submit-button {
    width: 100%;
}

.skeleton {
    &__field {
        width: 100%;
        height: var(--button-height-m);
        @include mobile {
            height: var(--button-height-s);
        }
    }
    &__button {
        width: 100%;
        height: var(--button-height-s);
        @include mobile {
            height: rem(40);
        }
    }
}
