.icon {
    width: 1em;
    aspect-ratio: 1;
    flex-shrink: 0;
  }
  
  // Colors
  .icon {
    &.inherit {
      color: currentColor;
    }
    &.primary {
      color: var(--theme-color-primary-main);
    }
    &.soft {
      color: var(--font-color-soft);
    }
  }
  
  // Sizes
  .icon {
    &.xxs {
      font-size: var(--fz-icon-xxs);
    }
    &.xs {
      font-size: var(--fz-icon-xs);
    }
    &.s {
      font-size: var(--fz-icon-s);
    }
    &.m {
      font-size: var(--fz-icon-m);
    }
    &.l {
      font-size: var(--fz-icon-l);
    }
  }