@use '@/app/styles/helpers' as *;

.radio {
	--height: ;
	--bgColor: ;
	--borderColor: var(--border-color-grey);
	--offset: calc(var(--height) / 4 * -1);
	position: relative;
	height: var(--height);
	width: var(--height);
	color: var(--theme-color-primary-main);
	border-radius: 50%;
	transition: box-shadow 0.2s;
	@include hover {
		box-shadow: 0 0 0 var(--border-weight-soft) var(--border-color-grey);
	}
}

.input {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	padding: 0px;
	margin: 0px;
	opacity: 0;
	cursor: pointer;
	&:focus-visible + .body {
		box-shadow: 0 0 0 var(--border-weight-soft) var(--theme-color-primary-main);
	}
}

.body {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		content: '';
		height: 50%;
		width: 50%;
		border-radius: inherit;
		border: var(--border-weight-soft) solid var(--borderColor);
		background-color: var(--bgColor);
	}
	&:after {
		content: '';
		position: absolute;
		background-color: var(--theme-color-primary-main);
		height: 10%;
		width: 10%;
		opacity: 0;
		transition-duration: 0.2s;
		border-radius: inherit;
	}
}

// Sizes
.radio {
	&.s {
		--height: var(--button-height-xs);
	}
	&.m {
		--height: var(--button-height-s);
	}
}

// Variants
.radio {
	&.filled {
		--bgColor: var(--theme-color-grey-dark);
	}
	&.outlined {
		--bgColor: transparent;
	}
}

// Offset
.radio {
	&.left {
		margin-left: var(--offset);
	}
	&.right {
		margin-right: var(--offset);
	}
	&.top {
		margin-top: var(--offset);
	}
	&.bottom {
		margin-bottom: var(--offset);
	}
	&.all {
		margin: var(--offset);
	}
}

// Mods
.radio {
	&.checked {
		--borderColor: var(--theme-color-primary-main);
		.body:after {
			height: 35%;
			width: 35%;
			opacity: 1;
		}
	}
	&.disabled {
		@include disabled;
	}
}
