@use "@/app/styles/helpers" as *;

.comment-list-container {
	padding-top: var(--padding-20);
	padding-left: var(--padding-50);
	@include max-width(560) {
		padding-left: 0px;
	}
}

.comment-list {
	padding-top: var(--padding-20);
}

.open-comment-form-button {
	margin-left: auto;
}

.no-comments-label {
	height: rem(60);
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	display: flex;
	justify-content: center;
	column-gap: rem(5);
	color: var(--font-color-soft);
	opacity: 0;
	animation: fade 0.2s 0.5s forwards;
	&__divider {
		@include user-select-off;
	}
	@include max-width(500) {
		flex-direction: column;
		align-items: center;
		row-gap: rem(5);
		&__divider {
			display: none;
		}
	}
}

