@use '@/app/styles/helpers' as *;

.actors {
    margin-top: var(--section-padding);
}

.swiper {
    margin-top: rem(20);
    width: 100%;
    position: relative;
}

.navigate-button {
    position: absolute;
    top: rem(20);
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    &.next {
        right: 0;
    }
    &.left {
        left: 0;
    }
    &.visible {
        opacity: 1;
        pointer-events: all;
    }
}