@use '@/app/styles/helpers' as *;

.avatar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-sizing: content-box;
	flex-shrink: 0;
	@include user-select-off;
	&.default-bg-color {
		background-color: var(--theme-color-grey-light);
	}
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;	
}

.skeleton {
	position: absolute;
	width: 100%;
	height: 100%;
}

// Border
.avatar {
	&.dark {
		border: var(--border-weight-hard) solid var(--theme-color-dark);
	}
	&.primary {
		border: var(--border-weight-hard) solid var(--theme-color-primary-main);
	}
}

// Sizes
.avatar {
	&.size-s {
		--height: #{rem(50)};
		width: var(--height);
		height: var(--height);
		font-size: calc(var(--height) / 1.75);
	}
	&.size-m {
		--height: #{rem(60)};
		width: var(--height);
		height: var(--height);
		font-size: calc(var(--height) / 1.75);
		@include mobile {
			--height: #{rem(50)};
		}
	}
	&.size-l {
		--height: #{rem(80)};
		width: var(--height);
		height: var(--height);
		font-size: calc(var(--height) / 1.75);
		@include mobile {
			--height: #{rem(70)};
		}
		@include mobile-s {
			--height: #{rem(60)};
		}
	}
}

// Border radius
.avatar {
    &.border-radius-s {
        border-radius: var(--border-radius-s);
    }
    &.border-radius-m {
        border-radius: var(--border-radius-m);
    }
    &.border-radius-l {
        border-radius: var(--border-radius-l);
    }
    &.border-radius-circular {
        border-radius: 50%;
    }
}

