@use "@/app/styles/helpers" as *;

.video-player {
	position: relative;
	aspect-ratio: 16 / 9;
	border-radius: var(--border-radius-l);
    background-color: var(--theme-color-grey-light);
    &:focus-visible {
        @include focus-outline;
    }
	video {
		width: 100%;
		height: 100%;
		display: block;
		border-radius: inherit;
	}
    &.visible-control-panel {
        .overlay {
            opacity: 1;
        }
    }
}

.overlay {
	position: absolute;
	width: 100%;
    height: rem(150);
    bottom: 0;
    left: 0;
    border-bottom-left-radius: var(--border-radius-l);
    border-bottom-right-radius: var(--border-radius-l);
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0.7) 60%,
        rgba(0, 0, 0, 0) 100%
    );
    opacity: 0;
    transition: opacity 0.3s;
    @include hover {
        opacity: 1;
    }
    &:focus-within {
        opacity: 1;
    }
    @include max-width(550) {
        height: rem(100);
    }
}

.control-panel {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	padding: rem(25);
	padding-top: 0px;
	flex-direction: column;
    @include max-width(480) {
        padding: rem(10);
        padding-top: 0px;
        .actions {
            column-gap: rem(20);
        }
        .volume {
            width: rem(100);
        }
    }
}

.actions {
    position: relative;
	display: flex;
    justify-content: space-between;
	align-items: center;
	column-gap: rem(20);

}

.start-actions {
	display: flex;
}

.end-actions {
	display: flex;
    margin-left: auto;
}

.progress-label {
    flex-shrink: 0;
    pointer-events: none;
    @include user-select-off;
    @include min-width(730) {
        @include abs-center;
    }
    @include max-width(550) {
        position: absolute;
        bottom: rem(80);
        background-color: var(--color-dark-opacity-hard);
        padding-inline: rem(10);
        padding-block: rem(5);
        border-radius: var(--border-radius-m);
    }
}

.volume {
	width: rem(120);
	display: flex;
	align-items: center;
	column-gap: rem(10);
	@include hover {
		.volume-slider {
			opacity: 1;
		}
	}
	&:focus-within {
		.volume-slider {
			opacity: 1;
		}
	}
}

.volume-slider {
	opacity: 0;
	transition: opacity 0.2s;
}

.error-alert {
    position: absolute;
    top: rem(10);
    left: rem(10);
}