.aside-menu {
	--border: var(--border-weight-soft) solid var(--border-color-grey);
	position: fixed;
	background-color: var(--theme-color-dark);
    transition: transform 0.2s;
	max-height: 100vh;
    overflow-y: auto;
}

// Position
.aside-menu {
	&.top {
		width: 100%;
		top: 0;
        left: 0;
		border-bottom: var(--border);
		transform: translateY(-100%);
		&.open {
			transform: translateY(0);
		}
		&.close {
			transform: translateY(-100%);
		}
	}
	&.bottom {
		width: 100%;
		bottom: 0;
        left: 0;
		border-top: var(--border);
		transform: translateY(100%);
		&.open {
			transform: translateY(0);
		}
		&.close {
			transform: translateY(100%);
		}
	}
	&.left {
		height: 100%;
		left: 0;
		top: 0;
		border-right: var(--border);
		transform: translateX(-100%);
		&.open {
			transform: translateX(0);
		}
		&.close {
			transform: translateX(-100%);
		}
	}
	&.right {
		height: 100%;
		right: 0;
		top: 0;
		border-left: var(--border);
		transform: translateX(100%);
		&.open {
			transform: translateX(0);
		}
		&.close {
			transform: translateX(100%);
		}
	}
}
