.dialog {
    padding-inline: var(--container-padding-x);
    padding-block: var(--container-padding-x);
    max-height: 100vh;
}

.content {
    //max-height: var(--full-height-with-padding);
    overflow-y: auto;
    background-color: var(--theme-color-dark);
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow-paper);
    transition: transform 0.2s;
    transform: translateY(-50px);
    &.open {
        transform: translateY(0);
    }
    &.close {
        transform: translateY(-50px);
    }
}