@use '@/app/styles/helpers' as *;

.list {
    gap: rem(20);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include max-width(1050) {
        grid-template-columns: repeat(4, 1fr);
    }
    @include max-width(800) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include max-width(630) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include max-width(450) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.item {
    min-width: 0;
}