@use '@/app/styles/helpers' as *;

.form {
    padding-top: rem(20);
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(10);
    &__reaction {
        font-size: rem(30);
        @include max-width(500) {
            font-size: rem(24);
        }
    }
}

.actions {
    display: flex;
    column-gap: rem(10);
    align-self: end;
}

.skeleton {
    &__rating {
        width: 50%;
        height: var(--button-height-xs);
        align-self: end;
    }
    &__button {
        height: var(--button-height-s);
        width: rem(100);
    }
}

