@use '@/app/styles/helpers' as *;

.header {
    position: fixed;
    width: 100vw;
    background-color: var(--theme-color-grey-dark);
    z-index: 100;
    padding-right: 16px;
    @include mobile {
		padding-right: 4px;
	}
}

.inner {
    height: var(--header-height);
    display: flex;
    align-items: center;
    column-gap: rem(30);
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.link-list {
    display: flex;
    column-gap: rem(10);
    @include mobile {
        flex-direction: column;
        row-gap: rem(10);
    }
}

.actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: rem(10);
}
