@use '@/app/styles/helpers' as *;

.header {
    position: fixed;
    width: 100%;
    border-bottom: var(--border-weight-soft) solid var(--border-color-grey);
    background-color: var(--theme-color-dark);
    z-index: 100;
}

.inner {
    height: var(--header-height);
    display: flex;
    align-items: center;
    column-gap: rem(50);
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.link-list {
    display: flex;
    column-gap: rem(10);
}

.actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: rem(10);
    &__skeleton-btn {
        height: var(--button-height-s);
        width: rem(80);
    }
}
