.text {
    &.with-tooltip {
        display: inline-flex;
        align-items: center;
        position: relative;
        .icon {
            left: 100%;
            display: inline-flex;
            align-items: center;
            position: absolute;
        }
    }
}

