@use '@/app/styles/helpers' as *;

.section-title {
    background: linear-gradient(
        45deg,
        var(--theme-color-primary-main),
        var(--theme-color-light),
        var(--theme-color-dark),
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientShift 5s ease infinite;
    &.centering {
        text-align: center;
    }
    &.size-l {
        font-size: #{fluid-text(50, 36)};
    }
    &.size-m {
        font-size: #{fluid-text(40, 30)};
    }
}