@use '@/app/styles/helpers' as *;

.dialog {
    max-width: rem(1000);
    width: 100%;
}

.content {
    padding: var(--padding-30);
    display: flex;
    flex-direction: column;
    row-gap: var(--padding-30);
    @include mobile {
        padding: var(--padding-20);
    }
}

