@use '@/app/styles/helpers' as *;

.section-group {
    display: flex;
    gap: var(--padding-30);
    @include max-width(1400) {
        flex-direction: column;
    }
}

.video-player {
    width: 100%;
    margin-top: auto;
}