@use "@/app/styles/helpers" as *;

.toggle-button-group {
	display: flex;
	&.vertical {
		flex-direction: column;
	}
	&.stack {
		&.horizontal {
			button {
				&:first-child {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
				}
				&:last-child {
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
				}
				&:not(:first-child) {
					margin-left: calc(var(--border-weight-soft) * -1);
				}
				&:not(:first-child, :last-child) {
					border-radius: 0px;
				}
			}
		}
		&.vertical {
			button {
				&:first-child {
					border-bottom-right-radius: 0px;
					border-bottom-left-radius: 0px;
				}
				&:last-child {
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
				&:not(:first-child) {
					margin-top: calc(var(--border-weight-soft) * -1);
				}
				&:not(:first-child, :last-child) {
					border-radius: 0px;
				}
			}
		}
	}
}
