
.inner {
    display: flex;
    background-color: var(--theme-color-grey-dark);
    border-radius: var(--border-radius-l);
    border: var(--border-weight-soft) solid var(--border-color-grey);
    padding: var(--padding-20);
}

.panel {
    width: 100%;
    padding-left: var(--padding-20);
    padding-block: var(--padding-15);
}