@use '@/app/styles/helpers' as *;

.confirm-redirect-dialog {
    max-width: rem(600);
    width: 100%;
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: rem(20);
        row-gap: rem(10);
    }
    &__header {
        padding-right: rem(30);
    }
    &__actions {
        display: flex;
        column-gap: rem(10);
        @include max-width(500) {
            flex-direction: column;
            row-gap: rem(5);
        }
    }
    &__close-button {
        position: absolute;
        top: rem(10);
        right: rem(10);
    }
}