@use '@/app/styles/helpers' as *;

.logo {
    position: relative;
    font-size: calc(var(--header-height) / 2);
    width: rem(50);
    height: var(--button-height-m);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-m);
    @include user-select-off;
    &:after {
        content: '';
        width: rem(20);
        height: rem(20);
        background-color: var(--theme-color-primary-main);
        border-radius: 50%;
    }
}